@charset "UTF-8";

@import "normalize.scss";

//local Foundation settings file. Copy it from git repo -> scss/foundation/_settings.scss near main .scss file. Then Uncomment the line below.
@import "settings";

@import "foundation/components/grid.scss";
@import "foundation/components/accordion.scss";
@import "foundation/components/alert-boxes.scss";
@import "foundation/components/block-grid.scss";
@import "foundation/components/breadcrumbs.scss";
@import "foundation/components/button-groups.scss";
@import "foundation/components/buttons.scss";
@import "foundation/components/clearing.scss";
@import "foundation/components/dropdown.scss";
@import "foundation/components/dropdown-buttons.scss";
@import "foundation/components/flex-video.scss";
@import "foundation/components/forms.scss";
@import "foundation/components/icon-bar.scss";
@import "foundation/components/inline-lists.scss";
@import "foundation/components/joyride.scss";
@import "foundation/components/keystrokes.scss";
@import "foundation/components/labels.scss";
@import "foundation/components/magellan.scss";
@import "foundation/components/orbit.scss";
@import "foundation/components/pagination.scss";
@import "foundation/components/panels.scss";
@import "foundation/components/pricing-tables.scss";
@import "foundation/components/progress-bars.scss";
@import "foundation/components/range-slider.scss";
@import "foundation/components/reveal.scss";
@import "foundation/components/side-nav.scss";
@import "foundation/components/split-buttons.scss";
@import "foundation/components/sub-nav.scss";
@import "foundation/components/switches.scss";
@import "foundation/components/tables.scss";
@import "foundation/components/tabs.scss";
@import "foundation/components/thumbs.scss";
@import "foundation/components/tooltips.scss";
@import "foundation/components/top-bar.scss";
@import "foundation/components/type.scss";
@import "foundation/components/offcanvas.scss";
@import "foundation/components/visibility.scss";

// Core Theme Styles, editable files.
// @import "theme/thememixins.scss";
@import "theme/themeglobal.scss";
@import "theme/accounts/accounts.scss";
@import "theme/accounts/inline/inline.scss";
@import "theme/cart/cart.scss";
@import "theme/cart/cartDrawer/cartItems/cartItems.scss";
@import "theme/cart/cartDrawer/cartSubTotals/cartSubTotals.scss";
@import "theme/cart/cartDrawer/cartDrawer.scss";
@import "theme/cart/cartIcon/cartIcon.scss";
@import "theme/cart/checkout/checkout.scss";
@import "theme/cart/checkout/addressBook/addressBook.scss";
@import "theme/cart/checkout/completed/completed.scss";
@import "theme/cart/checkout/header/header.scss";
@import "theme/cart/checkout/login/login.scss";
@import "theme/cart/checkout/payment/payment.scss";
@import "theme/cart/checkout/payment/methods/cards.scss";
@import "theme/cart/checkout/progressBar/progressBar.scss";
@import "theme/cart/checkout/review/review.scss";
@import "theme/cart/checkout/shipping/shipping.scss";
@import "theme/dashboard/dashboard.scss";
@import "theme/dashboard/console/console.scss";
@import "theme/dashboard/orders/orders.scss";
@import "theme/dashboard/orders/details/detail.scss";
@import "theme/dashboard/orders/social/orderSocial.scss";
@import "theme/dashboard/orders/stateHelpers/completed/completed.scss";
@import "theme/dashboard/orders/stateHelpers/documents/documents.scss";
@import "theme/dashboard/orders/stateHelpers/packing/packing.scss";
@import "theme/dashboard/orders/stateHelpers/shipped/shipped.scss";
@import "theme/dashboard/orders/stateHelpers/tracking/tracking.scss";
@import "theme/dashboard/packages/packages.scss";
@import "theme/dashboard/packages/grid/grid.scss";
@import "theme/dashboard/packages/grid/package/package.scss";
@import "theme/dashboard/shop/accounts.scss";
@import "theme/dashboard/shop/settings.scss";
@import "theme/dashboard/widget/widget.scss";
@import "theme/layout/layout.scss";
@import "theme/layout/header/header.scss";
@import "theme/layout/header/tags/tags.scss";
@import "theme/layout/footer/footer.scss";
@import "theme/products/products.scss";
@import "theme/products/productDetail/productDetail.scss";
@import "theme/products/productDetail/attributes/attributes.scss";
@import "theme/products/productDetail/images/productImageGallery.scss";
@import "theme/products/productDetail/social/social.scss";
@import "theme/products/productDetail/tags/tags.scss";
@import "theme/products/productDetail/variants/variant.scss";
@import "theme/products/productDetail/variants/variantForm/variantForm.scss";
@import "theme/products/productDetail/variants/variantForm/childVariant/childVariant.scss";
@import "theme/products/productDetail/variants/variantList/variantList.scss";
@import "theme/products/productGrid/productGrid.scss";
@import "theme/products/productList/productList.scss";
