.sub-nav {
  padding: 10px 10px 10px 0;
}

.sub-nav.tag-nav {
  dd, dd a {
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  dt { display: none; }
}

.navbar-primary-tags {
  background-color: $topbar-secondary-bg-color;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 10px;
  font-weight: 700;
}

.navbar-tags  {
  // padding-#{$left}: 5px;

  a {

    padding: $topbar-secondary-link-padding;
    color: $topbar-secondary-link-color;
  }
  a:hover {
    text-decoration: underline;
  }
  // a:active {
  //   color: $topbar-secondary-link-color-active;
  //   text-decoration: none;
  //   background-color: $topbar-secondary-link-bg-active;
  // }
}


// Leftovers - TODO: Edit / update / remove some of this eventually

// .tag-link-list li {
//   margin-right: 0;
//   margin-left: 0;
// }

// Slide the tag edit icon over a bit
.header-edit-tag {
  margin-#{$left}: -15px;
}

// size the navigation and when editing override navbar settings
.tag-edit-list {
  input {
    min-width: 40px;
  }
  li {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
  }
}
// Kludge fix for autocomplete hiding behind navbar
.ui-autocomplete {
  z-index: 9999;
}
// Tag edit elements
.tag-input-group {
  float: none;
  padding-#{$right}: 3px;
  position: relative;

  .tag-input-group-handle {
    position: absolute;
    cursor: move;
    color: $input-color-placeholder;
    #{$left}: 4px;
    top: 4px;
    padding-#{$left}: 4px;
  }
  input {
    padding-#{$left}: 25px;
    padding-#{$right}: 20px;
    border-radius: $global-radius;
    border: 1px dotted $input-border-color;
    background-color: $input-bg-color;
    height: $input-height-small;
    width: 130px;
    color: $input-font-color;
  }
  input:focus {
    outline: none;
    border-color: $input-focus-border-color;
    box-shadow: 0 0 10px $input-focus-border-color;
  }
  .tag-input-group-remove {
    position: absolute;
    #{$right}: 6px;
    top: 4px;
    color: $input-color-placeholder;
    padding-#{$right}: 4px;
  }
  .tags-submit-new {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media #{$small-only} {
  .navbar-tags > a {
    padding: $topbar-link-padding;
  }
}
