.pkg-card {
  background-color: $body-bg;
  border-radius: $global-radius;
  border: 1px solid $gainsboro;
  padding: 12px;
  margin-top: 5px;
  overflow: hidden;

  .pkg-content {
    height: 140px;
  }

  .enablePkg {
    color: $brand-success;
  }

  .disablePkg {
    color: $gray-light;
  }

  .pkg-controls {
    position: absolute;
    @include right(10px);
    bottom: 16px;
  }
  .status {
    color: $gray-light;
  }
}

.pkg-status {
  overflow: hidden;
}

.pkg-core-class {
  @include ribbon(50px,$brand-primary, #fff);
}

.pkg-stable-class {
  @include ribbon(50px,$brand-success, #fff);
}

.pkg-prerelease-class {
  @include ribbon(50px,$brand-info, #fff);
}

.pkg-unstable-class {
  @include ribbon(50px,$brand-warning, #fff);
}

.pkg-app-card, .pkg-app-card:hover {
    color: $gray-dark;
    text-decoration: none;
    cursor: pointer;
}

@media #{$medium-only} {
  .pkg-card {
    font-size: 12px;
  }
}

@media #{$small-only} {
  .pkg-card {
    font-size: 12px;
  }
}
