.pdp-container {
  .list-group {
    margin-left: 0;
    list-style: none;
  }
  .metafield-list-item, .metafield-new-item {
    .row {
      padding: 5px 3px 5px;
    }
    position: relative;
    padding: 5px 3px 5px;
    cursor: pointer;
    input {
      display: inline-block;
      width: 48%;
      border-bottom: 1px solid $aluminum;
      border-radius: $global-radius $global-radius 0 0;
    }
  }
  .metafield-remove {
    position: absolute;
    top: 10px;
    right: 5px;
    color: $input-color-placeholder;
    cursor: pointer;
  }
}
