.row.full-width {
  max-width: 100%;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
}

input[type="text"].input-sm,
input[type="number"].input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.no-border-icon-button {
  font-size: 14px;
  border: none;
  background: transparent;
  color: $jet;
  padding: 8px 16px;
  border-radius: $global-radius;
  margin-bottom:0;
  
  &:hover {
    background: $gainsboro;
    color: $jet;
    margin-bottom:0;
  }
}
