.main-container {
  margin-top: 20px;
}

.row.full-width {
  max-width: 100%;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
}

// Buttons
.wire-icon-button,
.wire-icon-button:hover,
.wire-option-button,
.wire-option-button:hover,
.wire-button,
.wire-button:hover {
  border: 1px solid $aluminum;
  background: $white;
  padding: 6px 12px;
  border: 1px solid $aluminum;
  border-radius: $global-radius;
  color: $charcoal;
}

.wire-option-button {
  margin-bottom: 0;
}

.wire-icon-button:hover,
.wire-option-button:hover,
.wire-button:hover,
.wire-option-button:active,
.wire-option-button.active,
.wire-button:active {
  background: $smoke;
  color: $charcoal;
}

.button.small {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
}

.qty-label {
  @include label();
  background: $monsoon;
  color: $white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 12px;
}

.no-border-icon-button {
  font-size: 14px;
  border: none;
  background: transparent;
  color: $jet;
  padding: 8px 16px;
  border-radius: $global-radius;
  margin-bottom:0;
  
  &:hover {
    background: $gainsboro;
    color: $jet;
    margin-bottom:0;
  }
}

// Forms

input[type="text"].input-sm,
input[type="number"].input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

// Setup default autoform styling.
.form-group {
  margin-bottom: 1rem;

  input[type] {
    margin-bottom: 0;
  }

  &.has-error input[type] {
    border-color: $alert-color;
    border-width: 2px;
  }
  
  .help-block {
    font-size: 13px;
    color: $alert-color;
  }
}
