$variant-progressbar-height: 28px;

// == main variant edit form
.wire-icon-button,
.wire-icon-button:hover,
.wire-option-button,
.wire-option-button:hover {
  border: 1px solid $aluminum;
  background: $white;
  padding: 6px 12px;
  border: 1px solid $aluminum;
  border-radius: $global-radius;
  color: $charcoal;
}
.wire-option-button {
  margin-bottom: 0;
}

.wire-icon-button:hover,
.wire-option-button:hover,
.wire-option-button:active,
.wire-option-button.active {
  background: $smoke;
  color: $charcoal;
}

.qty-label {
  @include label();
  background: $monsoon;
  color: $white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 12px;
}

.variant-detail {
  border-radius: $global-radius;
  font-size: 12px;
  border: 3px solid transparent;
  margin-top: 8px;
}

.variant-detail:hover, .variant-detail-selected {
  border: 3px solid $monsoon;
  background-color: $monsoon;
}

.variant-detail .progress {
  position: relative;
  height: $variant-progressbar-height;
  padding: 0;
  border: 0;
  margin: 0;
}

.variant-progress-item {
  border: 0px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  top: 0;
  height: $variant-progressbar-height;
  line-height: $variant-progressbar-height;
}

.variant-qty-sold-out {
  text-transform:uppercase;
  border-radius:1px;
}

.variant-table {
  .edit, .buy {
    @include text-align(right);
  }
}

.variant-title {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  @include margin-left(5px);
  line-height: 28px;
  font-weight: 400;
  color: $jet;
  width: 80%;
}

.variant-price {
  display: inline-block;
  @include margin-left(10px);
  font-size: medium;
  font-weight: 500;
  line-height: 30px;
  color: $jet;
  position: absolute;
  @include right(10px);
}

.variant-edit {
  background-color: $ghost;
  color: $anchor-font-color;
  position: absolute;
  border-radius: $global-radius;
  @include right(-35px);
  padding: 1px 8px 1px 8px;
  top: 0;
}

.variant-product-options {
  padding: 6px;
  border: 2px solid #D9EDF7;
  border-radius: $global-radius;
  margin: 2px 0px 8px 0px;
}

@media #{$small-only} {
  .variant-title {
    letter-spacing: 0em;
    width: 70%;
  }
}
