.cart-drawer {
  .cart-items { border: 3px solid $body-bg }

  table {
    background-color: transparent;
    border: none;
  }
  
  table thead {
    background: transparent;
  }
  
  table tr td {
    color: $white;
  }
  
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: transparent;
    color: $white;
  }


  .cart-totals {
    @include text-align(left);
    padding: 15px;
    font-size: 16px;
    height: 100%;
    width: 225px;
    height: 225px;
    color: $white;
  }
  
  thead {
    height: 2em;
    font-weight: 900;
  }
}
