.pdp-container {
  .product-detail-tags-list {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .inline-list.tag-edit-list {
    margin-left: 0;
  }
  
  .tag-edit-list li {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 14px;
  }
  
  .tag-edit-list li input[type="text"] {
    font-size: 14px;
    margin: 0;
  }
  .tags {
    ul,li {
      position: relative;
      padding-#{$left}: 5px;
      input {
        padding-#{$left}: 22px;
        padding-#{$right}: 40px;
        min-width: 175px;
      }
      float:none !important;

    }
    .tag-input-group {
      padding-#{$left}: 0px;
    }
    .tag-input-hashtag {
      position: absolute;
      #{$right}: 16px;
      top: 5px;
      color: $brand-success;
      padding-#{$right}: 14px;
    }
  }
}
