.pdp-container {
  .product-detail-tags-list {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  
  .inline-list.tag-edit-list {
    margin-left: 0;
  }
  
  .tag-edit-list li {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 14px;
  }
  
  .tag-edit-list li input[type="text"] {
    font-size: 14px;
    margin: 0;
  }
  .tags {
    ul,li {
      position: relative;
      @include padding-left(5px);
      input {
        @include padding-left(22px);
        @include padding-right(40px);
        min-width: 175px;
      }
      float:none !important;

    }
    .tag-input-group {
      @include padding-left(0px);
    }
    .tag-input-hashtag {
      position: absolute;
      @include right(16px);
      top: 5px;
      color: $brand-success;
      @include padding-right(14px);
    }
  }
}
