.address-book {
  .list-group-item {
    cursor: pointer;
    font-size: 12px;
    a {
      text-decoration: none;
      color: $jet;
    }
    a .active { color: $primary-color; }
  }

  .address-icons {
    opacity:0.6;
  }
  .address-icons:hover {
    opacity:0.9;
    cursor: pointer;
  }

  .address-options {
    @include padding-left(10px);
    margin-top: -25px;
    padding-bottom: 15px;
    .form-group {
      height: 15px;
      font-size: 12px;
    }
  }
}
