$gray-darker:            lighten($black, 13.5%); // #222
$gray-dark:              lighten($black, 20%);   // #333
$gray:                   lighten($black, 33.5%); // #555
$gray-light:             lighten($black, 46.7%); // #777
$gray-lighter:           lighten($black, 93.5%); // #eee

$input-color-placeholder: $aluminum;

$input-height-small: ($input-font-size + $form-spacing);

$topbar-secondary-bg-color: #073b73;
$topbar-secondary-link-color: $topbar-link-color;
$topbar-secondary-link-padding: $topbar-link-padding;
$topbar-secondary-link-color-hover: $topbar-link-color-hover;
$topbar-secondary-link-color-active: $topbar-link-color-active;
$topbar-secondary-link-bg: $topbar-link-bg;
$topbar-secondary-link-bg-active: $topbar-link-bg-active;

// $navbar-default-bg: #2fa4e7;
// $navbar-default-color: #fff;
// $navbar-default-link-color: #fff;
// $navbar-default-toggle-icon-bar-bg: darken($navbar-default-bg, 10%);
// $navbar-default-toggle-hover-bg: darken($navbar-default-bg, 10%);
// $navbar-margin-bottom: 0;
// $navbar-brand-height: 20px;
// $navbar-brand-font-size: 20px;
// $navbar-height: 50px;
// $navbar-padding-vertical: 14px;
// $navbar-inverse-bg: #073b73;
// $navbar-inverse-color: #fff;
// $navbar-inverse-link-color: #fff;

$left: left !default;
$right: right !default;
@if $text-direction == ltr {
  $left: left;
  $right: right;
} @else {
  $left: right;
  $right: left;
}
