@import "foundation/functions";

$large-font-size:        $h3-font-size;

$gray-darker:            lighten($black, 13.5%); // #222
$gray-dark:              lighten($black, 20%);   // #333
$gray:                   lighten($black, 33.5%); // #555
$gray-light:             lighten($black, 46.7%); // #777
$gray-lighter:           lighten($black, 93.5%); // #eee

$brand-primary:         darken(#428bca, 6.5%); // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$list-group-hover-bg: $white-smoke;

$input-color-placeholder: $aluminum;
$input-height-small: ($input-font-size + $form-spacing);
$input-height-base: ($input-font-size + $form-spacing);

$topbar-secondary-bg-color: #073b73;
$topbar-secondary-link-color: $topbar-link-color;
$topbar-secondary-link-padding: $topbar-link-padding;
$topbar-secondary-link-color-hover: $topbar-link-color-hover;
$topbar-secondary-link-color-active: $topbar-link-color-active;
$topbar-secondary-link-bg: $topbar-link-bg;
$topbar-secondary-link-bg-active: $topbar-link-bg-active;

// Cart Variables
$cart-drawer-bg: $gray-dark;
$cart-drawer-height: 275px;
$cart-icon-bg: $body-bg;
$cart-icon-badge:  #25B315;
$cart-icon-badge-warning: #FF0000;
$cart-icon-text: $body-font-color;
$cart-icon-color: $body-font-color;
$cart-icon-border-radius: 0;
$cart-icon-border: none;
$cart-icon-padding: 8px 30px 8px 24px;

$cart-progress-active: #57aed1;
$cart-progress-visited:  #8bc53f;
$cart-progress-next:  #EcEcEc;


// Product Grid
$product-overlay-bg: $body-bg;
$grid-gutter-width: 10px; //inline forms will get messed up with larger values
$drag-drop-zone-bg: #F0F8FF;
$product-grid-columns-size: 28em;

// Product Page
$product-title-font-size: 50px;
$product-title-font-weight: $font-weight-bold;
$product-page-title-font-size: 32px;
$product-price-font-size: 50px;
$product-description-font-size: 16px;

// text-direction mixins

//
// @mixin rtl($amount: 10px, $direction: right, $position-left: false, $position-right: false, $float: false, $margin-left: false, $margin-right: false, $padding-left: false, $padding-right: false, $clear: false, $text-align: false) {
//   html.rtl & {
//     @if $position-left  { right: $amount; }
//     @if $position-right { left: $amount; }
//     @if $margin-left { margin-right: $amount; }
//     @if $margin-right { margin-left: $amount; }
//     @if $padding-left { padding-right: $amount; }
//     @if $padding-right { padding-left: $amount; }
//     @if $float and $direction == left { float: right; }
//     @if $float and $direction == right { float: left; }
//     @if $float and not ($direction == left) and not ($direction == right) { float: $direction; }
//     @if $clear and $direction == left { clear: right; }
//     @if $clear and $direction == right { clear: left; }
//     @if $clear and not ($direction == left) and not ($direction == right) { clear: $direction; }
//     @if $text-align and $direction == left { text-align: right; }
//     @if $text-align and $direction == right { text-align: left; }
//     @if $text-align and not ($direction == left) and not ($direction == right) { text-align: $direction; }
//   }
// }

 // text-direction mixin defaults
 // $amount: 0px,
 // $direction: left,
 // $position-left: false,
 // $position-right: false,
 // $float: false,
 // $margin-left: false,
 // $margin-right: false,
 // $padding-left: false,
 // $padding-right: false,
 // $clear: false,
 // $text-align: false
 // Would be awesome to be able to indent this, but: https://github.com/sass/sass/issues/216
@mixin text-direction($amount: 10px, $direction: left, $position-left: false, $position-right: false, $float: false, $margin-left: false, $margin-right: false, $padding-left: false, $padding-right: false, $clear: false, $text-align: false) {
  // For LTR languages
  html:not(.rtl) & {
    @if $position-left  { left: $amount; }
    @if $position-right { right: $amount; }
    @if $margin-left { margin-left: $amount; }
    @if $margin-right { margin-right: $amount; }
    @if $padding-left { padding-left: $amount; }
    @if $padding-right { padding-right: $amount; }
    @if $float and $direction == left { float: left; }
    @if $float and $direction == right { float: right; }
    @if $float and not ($direction == left) and not ($direction == right) { float: $direction; }
    @if $clear and $direction == left { clear: left; }
    @if $clear and $direction == right { clear: right; }
    @if $clear and not ($direction == left) and not ($direction == right) { clear: $direction; }
    @if $text-align and $direction == left { text-align: left; }
    @if $text-align and $direction == right { text-align: right; }
    @if $text-align and not ($direction == left) and not ($direction == right) { text-align: $direction; }
  }
  // For RTL languages
  html.rtl & {
    @if $position-left  { right: $amount; }
    @if $position-right { left: $amount; }
    @if $margin-left { margin-right: $amount; }
    @if $margin-right { margin-left: $amount; }
    @if $padding-left { padding-right: $amount; }
    @if $padding-right { padding-left: $amount; }
    @if $float and $direction == left { float: right; }
    @if $float and $direction == right { float: left; }
    @if $float and not ($direction == left) and not ($direction == right) { float: $direction; }
    @if $clear and $direction == left { clear: right; }
    @if $clear and $direction == right { clear: left; }
    @if $clear and not ($direction == left) and not ($direction == right) { clear: $direction; }
    @if $text-align and $direction == left { text-align: right; }
    @if $text-align and $direction == right { text-align: left; }
    @if $text-align and not ($direction == left) and not ($direction == right) { text-align: $direction; }
  }
}

@mixin left($x) {
  @include text-direction($amount: $x, $position-left: true);
}

@mixin right($x) {
  @include text-direction($amount: $x, $position-right: true);
}

@mixin margin-left($x) {
  @include text-direction($amount: $x, $margin-left: true);
}

@mixin margin-right($x) {
  @include text-direction($amount: $x, $margin-right: true);
}

@mixin padding-left($x) {
  @include text-direction($amount: $x, $padding-left: true);
}

@mixin padding-right($x) {
  @include text-direction($amount: $x, $padding-right: true);
}

@mixin float($y) {
  @include text-direction($direction: $y, $float: true);
}

@mixin clear($y) {
  @include text-direction($direction: $y, $clear: true);
}

@mixin text-align($y) {
  @include text-direction($direction: $y, $text-align: true);
}

// End Text Direction Mixins

// LTR / RTL vars
$left: left !default;
$right: right !default;
@if $text-direction == ltr {
  $left: left;
  $right: right;
} @else {
  $left: right;
  $right: left;
}
