@import "foundation/functions";

$gray-darker:            lighten($black, 13.5%); // #222
$gray-dark:              lighten($black, 20%);   // #333
$gray:                   lighten($black, 33.5%); // #555
$gray-light:             lighten($black, 46.7%); // #777
$gray-lighter:           lighten($black, 93.5%); // #eee

$input-color-placeholder: $aluminum;
$input-height-small: ($input-font-size + $form-spacing);

$topbar-secondary-bg-color: #073b73;
$topbar-secondary-link-color: $topbar-link-color;
$topbar-secondary-link-padding: $topbar-link-padding;
$topbar-secondary-link-color-hover: $topbar-link-color-hover;
$topbar-secondary-link-color-active: $topbar-link-color-active;
$topbar-secondary-link-bg: $topbar-link-bg;
$topbar-secondary-link-bg-active: $topbar-link-bg-active;

// Cart Variables
$cart-drawer-bg: $gray-dark;
$cart-drawer-height: 275px;
$cart-icon-bg: $body-bg;
$cart-icon-badge:  #25B315;
$cart-icon-badge-warning: #FF0000;
$cart-icon-text: $body-font-color;
$cart-icon-color: $body-font-color;
$cart-icon-border-radius: 0;
$cart-icon-border: none;
$cart-icon-padding: 8px 30px 8px 24px;

$cart-progress-active: #57aed1;
$cart-progress-visited:  #8bc53f;
$cart-progress-next:  #EcEcEc;


// Product Grid
$product-overlay-bg: $body-bg;
$grid-gutter-width: 10px; //inline forms will get messed up with larger values
$drag-drop-zone-bg: #F0F8FF;
$product-grid-columns-size: 28em;

// Product Page
$product-title-font-size: 50px;
$product-title-font-weight: $font-weight-bold;
$product-page-title-font-size: 32px;
$product-price-font-size: 50px;
$product-description-font-size: 16px;

// LTR / RTL vars
$left: left !default;
$right: right !default;
@if $text-direction == ltr {
  $left: left;
  $right: right;
} @else {
  $left: right;
  $right: left;
}
