<template name="foundationProductGrid">
  <div class="product-grid" data-event-category="grid" data-event-action="generic-click" data-event-label="product grid click">
    <ul class="product-grid-list small-block-grid-2 medium-block-grid-3 large-block-grid-4" id="product-grid-list">
    {{#each products}}
      {{> foundationProductGridItems}}
    {{/each}}
    </ul>
  </div>
</template>

<template name="foundationProductGridItems">
  <li class="product-grid-item" data-id="{{_id}}" id="{{_id}}">
    {{> foundationGridNotice}}
    <div class="product-grid-item-images">
      <a href="{{pathForSEO 'product' 'handle'}}" data-event-category="grid" data-event-action="product-click" data-event-label="grid product click" data-event-value="{{_id}}">
        {{#with media}}
          <img src="{{url store='large'}}" class="img-responsive" alt="{{title}}">
        {{else}}
          <img src= "/resources/placeholder.gif" class="img-responsive" alt="">
        {{/with}}
      </a>

    </div>
    {{> foundationGridControls}}
    {{> foundationGridContent}}
  </li>
</template>


<template name="foundationGridNotice">
  {{#if isSoldOut}}
    {{#if isBackorder}}
      <span class="alert label">Backorder</span>
    {{else}}
      <span class="alert label">Sold Out!</span>
    {{/if}}
  {{else}}
    {{#if isLowQuantity}}
      <div class="warning label" title="">Limited Supply</div>
    {{/if}}
  {{/if}}

</template>


<template name="foundationGridContent">
  <a href="{{pathForSEO 'product' 'handle'}}" data-event-category="grid" data-event-action="product-click" data-event-label="grid product click" data-event-value="{{_id}}">
    <div class="overlay">
      <div class="overlay-title">{{title}}</div>
      <div class="currency-symbol">{{formatPrice displayPrice}}</div>
    </div>
  </a>
</template>


<template name="foundationGridControls">
  {{#if userHasRole "admin"}}
    <div class="product-grid-controls">
      {{#if isVisible}}
        <i class="fa fa-eye fa-lg publish-product" title="Publish"></i>
      {{else}}
        <i class="fa fa-eye-slash  fa-lg pull-left publish-product" title="Publish"></i>
      {{/if}}
      <i class="fa fa-code-fork fa-rotate-180 fa-lg clone-product"  title="Clone product"></i>
      <i class="fa fa-trash-o delete-product fa-lg" title="Delete product"></i>
    </div>
  {{/if}}
</template>
