// == main variant edit form
.wire-icon-button, .wire-icon-button:hover {
  border: 1px solid $aluminum;
  background: $white;
  padding: 6px 12px;
  border: 1px solid $aluminum;
  border-radius: $global-radius;
  color: $charcoal;
}

.wire-icon-button:hover {
  background: $smoke;
}

.variant-edit-form {
  margin: 0px 10px 0 10px;
  // background-color: $well-border;
  cursor: default;
  padding: 0px 8px 1px 8px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  
  .panel {
    margin-bottom: 6px;
    border-radius: 0 0 6px 6px;
    padding: 9px;
  }

  .row.variant-title-row {
    margin-bottom: 14px;
  }

  label {
    font-size: 12px;
    margin-bottom: 0px;
  }
  
  .control-label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  .variant-form-buttons {
    padding-top: 10px;
  }
  
  input[type="text"], input[type="number"] {
    border-radius: $global-radius;
  }
}

.variant-options {
  .form-group {
    margin-bottom: 0px;
  }
  .checkbox,.radio {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .lowInventoryWarningThreshold {
    margin-top: 0px;
  }
}
