.navbar-shop {
  background-color: $topbar-bg-color;
  color: $topbar-link-color;
  a, a:hover, a:focus, .dropdown-toggle {
    color: $topbar-link-color;
    cursor: pointer;
    text-decoration: none;
  }
}

.navbar-brand {
  margin-#{$left}: 10px;
}

.navbar-cart {
  float: $right;
  position: relative;
}

.navbar-languages {
  float: $right;
  padding: $topbar-link-padding;
  height: $topbar-height;
  &:hover {
    background-color: $topbar-link-bg-color-hover;
    border-color: $topbar-link-bg-color-hover;
  }
  .dropdown-menu {
    margin-top: $topbar-link-padding;
  }
}

.navbar-accounts {
  float: $right;
  height: $topbar-height;
  padding: $topbar-link-padding;
  padding-#{$left}: $topbar-link-padding;

  &:hover {
    background-color: $topbar-link-bg-color-hover;
    border-color: $topbar-link-bg-color-hover;
  }
  &:active {
    background-color: $topbar-link-bg-color-hover;
    border-color: $topbar-link-bg-color-hover;
  }
  .dropdown {
    .circular-icon {
      width: 40px;
      height: 40px;
      margin: -15px 5px;
      border: 2px solid rgba(129, 122, 122, 0.62);
      border-radius: 50%;
      padding: 10px;
      display: inline-block;
    }

    .user-accounts-dropdown {
      min-width: 215px;
      min-height: 225px;
      padding: 10px;
    }

    .user-accounts-dropdown-content {
      min-height: 155px;
      margin-bottom: 10px;
      color: $gray-darker;
    }

    .user-accounts-dropdown-apps {
      margin-top: 10px;
      i { font-size: 45px; }
    }

    .dropdown-apps-icon {
      cursor: pointer;
      display: inline-block;
      width: 50px;
      margin-#{$right}: 15px;
      text-align: center;
      padding: 5px;

      a {
        color: $gray;
        text-decoration: none;
      }
      a:hover, a:focus {
        color: $gray-darker;
        text-decoration: none;
        background-color: transparent;
      }
    }

    .icon-text {
      position: relative;
      bottom: 7px;
      text-align: center;
      font-size: 10px;
    }

  }

  .dropdown-menu {
    border: 1px solid $topbar-dropdown-bg;
    margin-top: 13px;
  }

  .additional-link-container {
    a {
      color: $topbar-link-color;
    }
    a:hover {
      color: $topbar-link-color-hover;
      background-color: transparent;
    }
  }
}

.navbar-primary-tags {
  background-color: $topbar-secondary-bg-color;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 10px;
  font-weight: 700;
  padding-top: 10px;
}

.navbar-tags  {
  padding-#{$left}: 5px;

  a {
    margin-left: -8px;
    margin-right: -8px;
    padding: $topbar-secondary-link-padding;
    color: $topbar-secondary-link-color;
  }
  a:hover {
    color: $topbar-secondary-link-color-hover;
    text-decoration: none;
    background-color: $topbar-secondary-link-bg;
  }
  a:active {
    color: $topbar-secondary-link-color-active;
    text-decoration: none;
    background-color: $topbar-secondary-link-bg-active;
  }
}

@media #{$small-only} {
  .navbar-tags > a {
    padding: $topbar-link-padding;
  }
  .navbar-accounts {
    padding-top: $topbar-link-padding;
    #logged-in-display-name {
      display: none;
    }
    .dropdown-menu {
      #{$right}: -60px;
    }
  }
}
