.navbar-shop {
  background-color: $topbar-bg-color;
  color: $topbar-link-color;
  a, a:hover, a:focus, .dropdown-toggle {
    color: $topbar-link-color;
    cursor: pointer;
    text-decoration: none;
  }
}

// This is for making sure WebKit knows the "default" direction when switching back from RTL.
 // It solves a bug where some of the elements stayed RTL because the Computed Style on Document still says direction: rtl
html:not(.rtl) & {
  direction: ltr;
}

html.rtl {
  direction: rtl;
  text-align: right;
}


.navbar-brand {
  @include margin-left(10px);
}

.navbar-cart {
  @include float(right);
  position: relative;
}

.navbar-languages {
  @include float(right);
  padding: $topbar-link-padding;
  height: $topbar-height;
  &:hover {
    background-color: $topbar-link-bg-color-hover;
    border-color: $topbar-link-bg-color-hover;
  }
  .dropdown-menu {
    margin-top: $topbar-link-padding;
  }
}

// Correct for gap between header and accounts dialog
.top-bar-section .accounts-dialog.dropdown-menu {
  margin-top: 0;
}

.top-bar-section {
  .has-dropdown {
    .circular-icon {
      width: 40px;
      height: 40px;
      margin: -15px 5px;
      border: 2px solid rgba(129, 122, 122, 0.62);
      border-radius: 50%;
      padding: 10px;
      display: inline-block;
    }

    .user-accounts-dropdown {
      min-width: 215px;
      min-height: 225px;
      padding: 10px;
    }

    .user-accounts-dropdown-content {
      min-height: 155px;
      margin-bottom: 10px;
      color: $gray-darker;
    }

    .user-accounts-dropdown-apps {
      margin-top: 10px;
      i { font-size: 45px; }
    }

    .dropdown-apps-icon {
      cursor: pointer;
      display: inline-block;
      width: 50px;
      @include margin-right(15px);
      text-align: center;
      padding: 5px;

      a {
        color: $gray;
        text-decoration: none;
      }
      a:hover, a:focus {
        color: $gray-darker;
        text-decoration: none;
        background-color: transparent;
      }
    }

    .icon-text {
      position: relative;
      bottom: 7px;
      text-align: center;
      font-size: 10px;
    }

  }

  .dropdown-menu {
    border: 1px solid $topbar-dropdown-bg;
    margin-top: 13px;
  }

  .additional-link-container {
    overflow: hidden;
    a {
      color: $topbar-link-color;
    }
    a:hover {
      color: $topbar-link-color-hover;
      background-color: transparent;
    }
  }
}

@media #{$small-only} {
  .navbar-accounts {
    padding-top: $topbar-link-padding;
    #logged-in-display-name {
      display: none;
    }
    .dropdown-menu {
      @include right(-60px);
    }
  }
}
