.navbar-shop {
  background-color: $topbar-bg-color;
  color: $topbar-link-color;
  a, a:hover, a:focus, .dropdown-toggle {
    color: $topbar-link-color;
    cursor: pointer;
    text-decoration: none;
  }
}
.dropdown-button {
  @include button($full-width: true, $radius: $global-radius);
  padding: 8px 4px;
  margin: 8px 0 0 0;
  font-size: 14px;
}

// This is for making sure WebKit knows the "default" direction when switching back from RTL.
 // It solves a bug where some of the elements stayed RTL because the Computed Style on Document still says direction: rtl
html:not(.rtl) & {
  direction: ltr;
}

html.rtl {
  direction: rtl;
  text-align: right;
}


.navbar-brand {
  @include margin-left(10px);
}

.navbar-cart {
  @include float(right);
  position: relative;
}

.navbar-languages {
  @include float(right);
  padding: $topbar-link-padding;
  height: $topbar-height;
  &:hover {
    background-color: $topbar-link-bg-color-hover;
    border-color: $topbar-link-bg-color-hover;
  }
  .dropdown-menu {
    margin-top: $topbar-link-padding;
  }
}

// Correct for gap between header and accounts dialog
.top-bar-section .accounts-dialog.dropdown-menu {
  margin-top: 0;
}

.top-bar-section {
  .has-dropdown {
    .circular-icon {
      width: 40px;
      height: 40px;
      margin: -15px 5px;
      border: 2px solid rgba(129, 122, 122, 0.62);
      border-radius: 50%;
      padding: 10px;
      display: inline-block;
    }
    .user-accounts-dropdown {
      background: #fff;
      padding: 10px;
      box-shadow: 0px 1px 5px rgba(100,100,100,0.3);
      border-radius: 0 0 4px 4px;
    }
    //
    // .user-accounts-dropdown-content {
    //   min-height: 155px;
    //   margin-bottom: 10px;
    //   color: $gray-darker;
    // }
    //
    .user-accounts-dropdown-apps {
      margin-top: 10px;
      i {
        margin-right: 10px;
      }
    }
    
    .dropdown-apps-icon {
      a {
        color: $jet;
        text-decoration: none;
      }
      a:hover, a:focus {
        background: $silver;
      }
    }

  }

  .dropdown-menu {
    border: 1px solid $topbar-dropdown-bg;
    margin-top: 13px;
  }

  .additional-link-container {
    overflow: hidden;
    a {
      color: $topbar-link-color;
    }
    a:hover {
      color: $topbar-link-color-hover;
      background-color: transparent;
    }
  }
  
  .i18n-chooser .dropdown {
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(1,1,1, 0.1);
  }
}

@media #{$small-only} {
  .navbar-accounts {
    padding-top: $topbar-link-padding;
    #logged-in-display-name {
      display: none;
    }
    .dropdown-menu {
      @include right(-60px);
    }
  }
}
