.table {
  width: 100%;
  tbody.toggle-shop-member-permissions {
    cursor: pointer;
  }
  
  input[type] {
    margin-bottom: 0;
  }

  tbody.shop-member-permissions {
    border: 0;
    tr {
      td {
        vertical-align: top;
        border: 0;
      }
      ul {
        padding: 0;
        list-style-type: none;
        @include float(left);
        @include margin-right(30px);
      }
      label {
        font-weight: normal;
      }
      .shop-permissions-group {
        font-weight: bold;
      }
    }
    tr.even, table tr.alt, tr:nth-of-type(even) {
      background: transparent;
    }
  }
}
