.dashboard-tabs {
  // Tab navigation
  &.tabs {
    border-bottom: 1px solid $dashboard-border-color;
  }
  
  .tab-title a {
    font-size: 13px;
    padding: 6px 12px;
    background-color: $white;
  }
  
  .tab-title.active a {
    background-color: $dashboard-panel-color;
    border: 1px solid $dashboard-border-color;
    border-bottom: 0;
    margin-bottom: -1px;
  }
  
  // Tab content
  &.tabs-content .content {
    padding-top: 0;
    margin-top: 0;
    z-index: 0;
  }
  
  .content .panel {
    border-top: none;
  }
}


.autoform-remove-item {
  height: 25px;
  width: 25px;
  margin: 29px 10px;
  padding: 0px;
}
