/* Set the fixed height of the footer here */
.reaction-navigation-footer {
  background-color: $topbar-secondary-bg-color;
  padding-top: 10px;
  
  .side-nav li a:not(.button) {
    color: $white;
    padding: 0;
    &:hover { text-decoration: underline; }
  }
  
  .navbar-bottom {
    width:100%;
  }
}
