<template name="foundationLayoutHeader">
  <nav class="top-bar reaction-navigation-header" data-topbar role="navigation" data-options="is_hover: false">
    <ul class="title-area">
      <li class="name">{{> headerBrand}}</li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        {{> i18nChooser}}
        {{> accounts tpl="foundationLoginDropdown"}}
        {{> cartIcon}}
        <div class="cart-alert">{{> cartPanel}}</div>
      </ul>
    </section>
  </nav>
  <div class="navbar-primary-tags">
    <div class="navbar-tags">{{> headerTags}}</div>
  </div>
</template>
